# Backend
Backend-Food_Management_System/node_modules/
Backend-Food_Management_System/.env
Backend-Food_Management_System/dist/

# Frontend
Frontend-Food_Management_System/node_modules/
Frontend-Food_Management_System/.env.local
Frontend-Food_Management_System/dist/

# General
.DS_Store
Thumbs.db
*.log